/*-----------FONTs---------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html {
    font-family: 'Poppins', sans-serif;
}

/*-----------RESETs---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}


/*-----------MIXIN---------*/
@mixin btn {
    display: inline-block;
    background: #e7ba52;
    font-size: 1em;
    font-weight: bold;
    color: #425e42;
    padding: 8px 30px;
    border: 2.5px solid #e7ba52;
    border-radius: 25px;
    cursor: pointer;
    transition: background .5s;
    &:hover{
        background: none;
        color: #fff;
    } 
}



/*-----------PAGE---------*/
main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: rgb(144, 192, 144);

    .flex-container-nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 40px;
        margin-top: 20px;

        .container-a {
            width: 50px;
            margin: 15px;

        }  
            .arrow-product {
                font-size: 1.8em;
                color: #484848;
            }
            
            .buy-icon {
                align-self: flex-start;
                width: 45px;
            }
        
    }

    .flex-container-items {
        display: flex;
        flex-direction: column;
        width: 100vw;

        .item-cart {
            display: flex;
            justify-content: space-evenly;
            width: 90%;
            height: 120px;
            margin: 15px auto 0;
            border-radius: 15px;
            background: honeydew;
            box-shadow: 0 1px 4px;

            .item-img {
                align-self: center;
                width: 70px;
                height: 90%;
            }

            .label-contain {
                align-self: center;

                h3 {
                    font-size: 1.2em;
                }
                p {
                    font-size: .8em;
                    color: #747171;
                }
                span {
                    display: block;
                    font-weight: bold;
                    margin: 15px 15px 0;
                }
            }

            .buttons-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                #remove {
                    align-self: flex-end;
                    width: 20px;
                    margin: 10px;
                }
                .items-amount {
                    margin: 10px;

                    #subtract, #add {
                        width: 18px;
                    }
                }
            }
        }
    }

    #totalPrice {
        align-self: flex-end;
        margin: 40px 15px;

        span {
            font-weight: bold
        }
    }

    #toBuy {
        @include btn;
        margin: 0 10px 30px;
    }
}