/*-----------FONTs---------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html {
    font-family: 'Poppins', sans-serif;
}

/*-----------RESETs---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}


/*-----------MIXIN---------*/
@mixin btn {
    display: inline-block;
    background: #e7ba52;
    font-size: 1em;
    font-weight: bold;
    color: #425e42;
    padding: 8px 30px;
    border: 2.5px solid #e7ba52;
    border-radius: 25px;
    cursor: pointer;
    transition: background .5s;
    &:hover{
        background: none;
        color: #fff;
    } 
}



/*-----------PAGE---------*/
body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background: rgb(30,75,69);
    background: linear-gradient(90deg, rgba(30,75,69,1) 0%, rgba(150,188,129,1) 159%);
}

.flex-container-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 40px;
    padding-right: 20px;
    margin-top: 20px;

    .container-a {
        width: 50px;
        margin: 15px;

        .arrow-product {
            font-size: 1.8em;
            color: #ffffff;
        }
    }  
        
    #cleanButton {
        @include btn;
        margin-right: 8%;
        transform-origin: right;
        transform: scale(.8);
    }
    
}

main {
    display: flex;
    flex-direction: column;

    .flex-container-a {
        display: flex;
        flex-direction: column;
        width: 100vw;

        .container-empty {
            align-self: center;
            width: 80%;
            margin: 130px auto;


            h3 {
                text-align: center;
                color: #ffffff;
            }
        }
        .item-cart {
            display: flex;
            justify-content: space-evenly;
            width: 90%;
            max-width: 420px;
            height: 120px;
            margin: 15px auto 0;
            border-radius: 15px;
            background: rgb(255, 255, 255);

            .item-img {
                align-self: center;
                width: 70px;
                max-height: 90%;
                flex-basis: 10%;
            }

            .label-contain {
                position: relative;
                align-self: center;
                flex-basis: 40%;
                height: 100%;

                h3 {
                    text-align: left;
                    color: rgb(43, 124, 70);
                    font-size: 1.1em;
                }
                p {
                    text-align: left;
                    font-size: .8em;
                    color: #747171;
                }
                span {
                    position: absolute;
                    right: 0;
                    bottom: 7px;
                    text-align: right;
                    display: block;
                    font-weight: 600;
                    color: rgb(82, 82, 82);
                }
            }

            .buttons-item {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex-basis: 35%;
                

                .remove-item {
                    align-self: flex-end;
                    width: 22px;
                    height: 22px;
                    margin: 10px;
                    text-align: center;
                    padding-bottom: 2px;
                    border: 1px solid rgba(107, 107, 107, 0.26);
                    
                    border-radius: 15px;
                    box-shadow: 2px 2px 5px rgba(13, 39, 80, .16), -2px -2px 5px #fff, inset 1px 1px 2px rgba(13, 39, 80, .16), inset -2px -1px 2px #fff;
                }
                .items-amount {
                    float: right;
                    margin: 10px 0 10px 20px;

                    .amount {
                        margin: 0 3px;
                        color: #c08702;
                    }
                    .subtract-amount, .add-amount {
                        width: 22px;
                        height: 22px;
                        border: 1px solid rgba(107, 107, 107, 0.219);
                        
                        border-radius: 15px;
                        box-shadow: 2px 2px 5px rgba(13, 39, 80, .16), -2px -2px 5px #fff, inset 1px 1px 2px rgba(13, 39, 80, .16), inset -2px -1px 2px #fff;
                    }
                }
            }
        }
    }

    .flex-container-b {
        display: flex;
        flex-direction: column;

        .total-price {
            align-self: flex-end;
            margin: 40px 8%;
            color: #d3d3d3;
            
            span {
                font-weight: bold;
                color: #e7ba52;
            }
        }
        
        #toBuy {
            @include btn;
            width: 60%;
            max-width: 420px;
            margin: 0 auto 30px;
        }
    }
}

@media (min-width: 769px) {
    main {
        flex-direction: row;
        
        height: 80vh;
        
        .flex-container-b {
            justify-content: flex-end;
            width: 40%;
            height: 60vh;
            margin-right: 13vw;

            .total-price {
                align-self: center;
            }

        }
            
    }
    
}