/*-----------FONTs---------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html {
  font-family: 'Poppins', sans-serif;
}

/*-----------RESETs---------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

/*-----------MIXIN---------*/
/*-----------PAGE---------*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: #2e422e;
}

main .flex-container-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 40px;
  padding-right: 20px;
  margin-top: 20px;
}

main .flex-container-nav .container-a {
  width: 50px;
  margin: 15px;
}

main .flex-container-nav .container-a .arrow-product {
  font-size: 1.8em;
  color: #ffffff;
}

main .flex-container-nav #cleanButton {
  display: inline-block;
  background: #e7ba52;
  font-size: 1em;
  font-weight: bold;
  color: #425e42;
  padding: 8px 30px;
  border: 2.5px solid #e7ba52;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

main .flex-container-nav #cleanButton:hover {
  background: none;
  color: #fff;
}

main .flex-container-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

main .flex-container-items .container-empty {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  margin: 130px auto;
}

main .flex-container-items .container-empty h3 {
  text-align: center;
  color: #d3d3d3;
}

main .flex-container-items .item-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90%;
  height: 120px;
  margin: 15px auto 0;
  outline: 2px solid #e7ba52c2;
  border-radius: 15px;
  background: white;
  -webkit-box-shadow: 4px 4px 8px;
          box-shadow: 4px 4px 8px;
}

main .flex-container-items .item-cart .item-img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 70px;
  height: 90%;
}

main .flex-container-items .item-cart .label-contain {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main .flex-container-items .item-cart .label-contain h3 {
  font-size: 1.2em;
}

main .flex-container-items .item-cart .label-contain p {
  font-size: .8em;
  color: #747171;
}

main .flex-container-items .item-cart .label-contain span {
  display: block;
  margin: 15px 15px 0;
  font-weight: bold;
  color: #525252;
}

main .flex-container-items .item-cart .buttons-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .flex-container-items .item-cart .buttons-item .remove-item {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 30px;
  height: 30px;
  margin: 10px;
  border: 1px solid rgba(107, 107, 107, 0.432);
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
}

main .flex-container-items .item-cart .buttons-item .items-amount {
  margin: 10px;
}

main .flex-container-items .item-cart .buttons-item .items-amount .subtractAmount, main .flex-container-items .item-cart .buttons-item .items-amount .addAmount {
  width: 24px;
  border: 1px solid rgba(107, 107, 107, 0.432);
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
}

main .total-price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 40px 15px;
  color: #d3d3d3;
}

main .total-price span {
  font-weight: bold;
  color: #e7ba52;
}

main #toBuy {
  display: inline-block;
  background: #e7ba52;
  font-size: 1em;
  font-weight: bold;
  color: #425e42;
  padding: 8px 30px;
  border: 2.5px solid #e7ba52;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
  margin: 0 10px 30px;
}

main #toBuy:hover {
  background: none;
  color: #fff;
}
/*# sourceMappingURL=cart.css.map */