/*-----------FONTs---------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
html {
  font-family: 'Poppins', sans-serif;
}

/*-----------RESETs---------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

/*-----------MIXIN---------*/
/*-----------ANIMATION---------*/
@-webkit-keyframes likeHeart {
  0% {
    opacity: .6;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes likeHeart {
  0% {
    opacity: .6;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.animated-likeHeart {
  -webkit-animation: likeHeart 1s forwards;
          animation: likeHeart 1s forwards;
}

@-webkit-keyframes dontLikeHeart {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes dontLikeHeart {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

.animated-dontLikeHeart {
  -webkit-animation: dontLikeHeart 1s forwards;
          animation: dontLikeHeart 1s forwards;
}

/*-----------PAGE---------*/
main {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: #1e4b45;
  background: -webkit-gradient(linear, left top, right top, from(#1e4b45), color-stop(159%, #96bc81));
  background: linear-gradient(90deg, #1e4b45 0%, #96bc81 159%);
}

.flex-container-nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 40px;
  padding-top: 20px;
}

.flex-container-nav .container-a {
  width: 50px;
  margin: 15px 15px 0;
}

.flex-container-nav .arrow-product {
  font-size: 1.8em;
  color: #ffffff;
}

.flex-container-nav .buy-icon {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 45px;
}

.flex-container-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: calc(100% - 40px);
  overflow-x: hidden;
}

.flex-container-page .container-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.flex-container-page .container-b .price {
  position: relative;
  top: 15vh;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 5vw;
  background: #e7ba52;
  border-radius: 15px 0 15px 0;
  padding: 8px 10px;
}

.flex-container-page .container-b .price p {
  color: #134613;
}

.flex-container-page .container-b .container-img {
  width: 70%;
}

.flex-container-page .container-b .container-img .product-img {
  position: relative;
  top: 50px;
  z-index: 100;
  width: 100%;
  min-height: 230px;
  max-height: 100%;
}

.flex-container-page .flex-container-description {
  justify-self: flex-end;
  position: relative;
  bottom: 20px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5vw 5vw 0;
  background: white;
  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 10px #838282;
          box-shadow: 1px 1px 10px #838282;
}

.flex-container-page .flex-container-description h2 {
  color: #2a5a2a;
  margin: 15px 15px 0;
}

.flex-container-page .flex-container-description span {
  color: #949090;
  font-size: .8em;
  margin: 0 15px 10px;
}

.flex-container-page .flex-container-description p {
  color: #6b6a6a;
  font-size: .8em;
  text-align: justify;
  margin: 12px 15px;
}

.flex-container-page .flex-container-description .buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.flex-container-page .flex-container-description .buttons .like {
  position: relative;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
}

.flex-container-page .flex-container-description .buttons .like:hover {
  cursor: pointer;
}

.flex-container-page .flex-container-description .buttons .like i {
  position: absolute;
  top: 4px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: .3;
}

.flex-container-page .flex-container-description .buttons .like .bi-heart-fill {
  color: #972a2a;
}

.flex-container-page .flex-container-description .buttons button {
  display: inline-block;
  background: #e7ba52;
  font-size: 1em;
  font-weight: bold;
  color: #425e42;
  padding: 8px 30px;
  border: 2.5px solid #e7ba52;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.flex-container-page .flex-container-description .buttons button:hover {
  background: #6d4f08;
  color: #fff;
}

@media (min-width: 551px) {
  .flex-container-nav {
    padding: 6% 6% 10vh;
  }
  .flex-container-page {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 5vh;
  }
  .flex-container-page .container-b {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    width: 50%;
  }
  .flex-container-page .container-b .price {
    position: absolute;
    top: 0;
  }
  .flex-container-page .container-b .container-img {
    position: relative;
    width: 100%;
  }
  .flex-container-page .flex-container-description {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50%;
    min-height: 80%;
    margin-left: 0;
  }
  .flex-container-page .flex-container-description h2 {
    font-size: 6vw;
    margin: 15% 5% 0;
  }
  .flex-container-page .flex-container-description span {
    font-size: 2.5vw;
    margin: 0 5%;
  }
  .flex-container-page .flex-container-description p {
    font-size: 2.7vw;
    margin: 8% 5% 5%;
  }
  .flex-container-page .flex-container-description .buttons {
    margin: 15% 2% 2%;
  }
}

@media (min-width: 768px) {
  .flex-container-nav .container-a {
    width: 100px;
    margin: 15px 15px 0;
    text-align: center;
  }
  .flex-container-nav .container-a i {
    font-size: 4.2vw;
  }
  .flex-container-nav .container-a img {
    width: 70px;
  }
}

@media (min-width: 900px) {
  .flex-container-nav {
    padding: 50px;
  }
  .flex-container-page {
    height: calc(100% - 100px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-y: hidden;
  }
  .flex-container-page .container-b {
    height: 80%;
  }
  .flex-container-page .container-b .price {
    left: 100px;
  }
  .flex-container-page .container-b .container-img {
    height: 80%;
  }
  .flex-container-page .container-b .container-img .product-img {
    float: right;
    width: 60%;
  }
  .flex-container-page .flex-container-description {
    height: 100%;
    margin: 0 5vw;
    max-width: 650px;
  }
  .flex-container-page .flex-container-description h2 {
    font-size: 3em;
  }
  .flex-container-page .flex-container-description span {
    font-size: 1em;
  }
  .flex-container-page .flex-container-description p {
    font-size: 1em;
  }
}
/*# sourceMappingURL=product.css.map */