/*-----------FONTs---------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/*-----------RESETs---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}


/*-----------ANIMATION---------*/
.effect {
    opacity: 0;
    transition: all .5s;
}

@keyframes showLeft {
    0% {transform: translateX(-50px);}
    100% {transform: translateX(0);}
}
.animatedLeft {
    animation: showLeft 1s;
}

@keyframes showRight {
    0% {transform: translateX(50px);}
    100% {transform: translateX(0);}
}
.animatedRight {
    animation: showRight 1s;
}

@keyframes moveRight {
    0% {transform: translateX(0);}
    50% {transform: translateX(180px);}
    100% {transform: translateX(0);}
}
.animated-moveRight {
    animation: moveRight 1s;
}

@keyframes moveLeft {
    0% {transform: translateX(0);}
    50% {transform: translateX(-180px);}
    100% {transform: translateX(0);}
}
.animated-moveLeft {
    animation: moveLeft 1s;
}
/*-----------MIXIN---------*/
@mixin btn {
    display: inline-block;
    background: #e7ba52;
    color: #fff;
    padding: 8px 30px;
    border: 2.5px solid #e7ba52;
    border-radius: 25px;
    cursor: pointer;
    transition: background .5s;
    &:hover{
        background: none;
    } 
}


/*-----------HEADER---------*/
header {
    background: rgb(30,75,69);
    background: linear-gradient(90deg, rgba(30,75,69,1) 0%, rgba(150,188,129,1) 159%);
    overflow-x: hidden;

    nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 80px;
        justify-items: center;
        align-items: center;
        
        width: 100%;

        .logo {
            display: none;

            grid-column: 2 / 4;

            img {
                width: 62px;
            }
        }

        .list-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            top: 0;
            left: 0;
            height: 150vw;
            width: 100%;
            padding-top: 80px;
            text-align: left;
            overflow: hidden;
            background: rgba(51, 51, 51, .97);
            transition: max-width .5s;

            ul {
                position: relative;
                z-index: 1000;

                li {
                    margin: 20px 20px;
                    list-style-type: none;

                    a {
                        color: #fff;
                    }
                }

            }
            .icons-container {
                position: relative;
                z-index: 1000;
                display: flex;
                margin: 15px;

                .icons {
                    margin: 8px;
                    width: 30px;
                    fill: #fff;
                }
            }
            
        }

        .buy-container {
            grid-row: 1;
            grid-column: 4 / 5;

            position: relative;
            z-index: 100;
            top: 8px;

            img {
                width: 55px;
            }
        }

        .menu-icon {
            grid-row: 1;
            grid-column: 1 / 2;
            position: relative;
            z-index: 10;
            width: 50px;

            .svg-menu-toggle {
                fill:#fff;
                pointer-events:all;
                cursor:pointer;
                position: relative;
                z-index: 100;
                transform: scale(1);
                transition: .5s;
            }
                    .bar {
                        -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
                        transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
                    }
                    .bar:nth-of-type(1) {
                        -webkit-transform-origin: 20px 10px;
                        transform-origin: 20px 10px;
                
                    }
                    .bar:nth-of-type(3) {
                        -webkit-transform-origin: 20px 20px;
                        transform-origin: 20px 20px;
                    }
        }
    }

    .grid-container-header {
        display: grid;
        grid-template-columns: minmax(280px, 540px);
        grid-template-rows: 2fr;

        .content-header-a {
            grid-row: 2;
            display: flex;
            flex-direction: column;
            align-items: end;

            h1 {
                text-align: end;
                margin: 28px 28px 0;
                font-size: 46px;
                line-height: 60px;
                color: #fff;
            }
            p {
                text-align: end;
                margin: 0 35px 28px;
                color: #fff;
            }
            .btn {
                @include btn;
                margin: 20px;
            }
        }
        .content-header-b {
            grid-row: 1;

            img {
                position: relative;
                z-index: 100;
                width: 100%;
                transition: all .8s;
            }
        }
    }
} //  // END  ____  header


/*-----------GALLERY---------*/
.flex-container-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-gallery {
        width: 60%;
        margin-top: 50px;

        img {
            width: 100%;
        }
    }
}


/*-----------PRODUCT---------*/
.product {
    width: 100vw;
    overflow-x: hidden;

    .flex-container-option {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 150px;
        margin: auto;

        .shop-option {
            width: 190px;
            height: 50px;
            top: 0;
            margin: 80px 5px 20px;
            
            border-radius: 5px;
            transition: all 1s;

            h3 {
                text-align: center;
                margin: 8px auto;
                color: #fff;
            }
        }
        .option1 {
            position: absolute;
            z-index: 100;
            left: 15px;
            background-color: rgb(80, 182, 80);
            transform: scale(1.2);
        }
        .option2 {
            position: relative;
            z-index: 50;
            background-color: rgb(52, 124, 52);
            transform: scale(1.1);
        }
        .option3 {
            position: absolute;
            z-index: 0;
            right: 15px;
            background-color: rgb(38, 87, 38);
        }
    }
       
    .flex-container-product {
        position: relative;
        display: flex;
        width: 300vw;
        transition: left 1s;

        .grid-container-product {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(12, 1fr);
            gap: 10px;
            width: 100vw;
            padding: 10px;
            overflow-x: hidden;
    
    
            .item-product {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                overflow: hidden;
    
                border-radius: 18px;
                background: rgb(240, 240, 240);
                box-shadow: 3px 3px 5px rgba(13, 39, 80, .16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, .16), inset -3px -3px 5px #fff;
                transition: all .2s;
    
                    &:hover {
                        transform: translateY(-5px);
                        background: rgb(245, 245, 245);
                        box-shadow: 3px 3px 5px rgba(13, 39, 80, .16), -3px -3px 5px #fff;
                    }
                        img {
                            position: relative;
                            z-index: 10;
                            align-self: center;
                            width: 85%;
                        }
                        h4 {
                            position: relative;
                            z-index: 10;
                            margin: 8px 10px 0;
                            color: #555;
                            font-weight: normal;
                        }
                        p {
                            position: relative;
                            z-index: 10;
                            margin: 0 10px 10px;
                            color: #f75e05;
                            font-size: 14px;
                            font-weight: 400;
                        }
                        .base-container {
                            position: absolute;
                            z-index: 0;
                            bottom: -40px;
                            transform: rotateZ(-25deg);
                            width: 350px;
                            height: 180px;
                            opacity: .4;
                            border: 1px solid #ffffff;
                            background-color: #d3d3d3;
                            box-shadow: 3px 3px 5px rgba(13, 39, 80, .16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, .16), inset -3px -3px 5px #fff;
                        }
    
    
                        .like {
                            position: absolute;
                            z-index: 10;
                            top: 10px;
                            right: 10px;
                            justify-items: flex-start;
                            align-self: flex-end;
                            
                            width: 30px;
                            height: 30px;
    
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            border-radius: 15px;
                            box-shadow: 3px 3px 5px rgba(13, 39, 80, .16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, .16), inset -3px -3px 5px #fff;
                                &:hover {
                                    cursor: pointer;
                                }
                                i {
                                    position: absolute;
                                    top: 4px;
                                    transform: scale(.8);
                                    opacity: .3;
                                }
                                
                                .bi-heart-fill {
                                    color: rgb(161, 7, 7);
                                    opacity: 1;
                                }
                        }
            }
            .item1 {
                grid-column: 1 / 2;
                grid-row: 1 / 5;
            }
                    .item2 {
                        grid-column: 2 / 3;
                        grid-row: 1 / 3;
                    }
            .item3 {
                grid-column: 1 / 2;
                grid-row: 5 / 8;
            }
                    .item4 {
                        grid-column: 2 / 3;
                        grid-row: 3 / 6;
                    }
            .item5 {
                grid-column: 1 / 2;
                grid-row: 8 / 10;
            }
                    .item6 {
                        grid-column: 2 / 3;
                        grid-row: 6 / 9;
                    }
            .item7 {
                grid-column: 1 / 2;
                grid-row: 10 / 12;
            }
                    .item8 {
                        grid-column: 2 / 3;
                        grid-row: 9 / 12;
                    }
    
    
        }
    }
} //  // END  ____  product


/*-----------CAROUSEL---------*/
.carousel {
    position: relative;
    overflow: hidden;
    display: flex;

    margin-bottom: 200px;

    #arrows-wrapper {
        align-self: center;

        position: absolute;
        top: 35px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        height: 100%;
        padding: 20px;

        p {
            color: #fff;
            cursor: pointer;
            font-size: 10vw;
            opacity: .3;
        }
        
        #arrow-prev {
            position: relative;
            z-index: 1000;
        }
        #arrow-next {
            position: relative;
            z-index: 1000;
        }
    }

    .flex-container-carousel {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        width: 300vw;
        margin-bottom: 50px;
        
        transition: left .5s;
        

        .article-container {
            display: flex;
            flex-direction: column;
            width: 100vw;

            img {
                position: relative;
                z-index: -1;
                width: 100vw;
            }

            .carousel-caption {
                background: #065a31;
                background: linear-gradient(20deg, rgba(30,75,69,1) 0%, rgba(150,188,129,1) 199%);
                box-shadow: 2px 2px 3px rgba(0,0,0,0.75);
                width: 100vw;
                height: 209px;
                padding: 30px;
                text-align: center;
            

                h5 {
                    color: #fff;
                    font-size: 9vw;
                }
                p {
                    color: #fff;
                    margin: auto;
                    width: 80vw;
                }
                .btn {
                    @include btn;
                    margin-top: 10px;
                }
            }
        }
    }
}//  // END  ____  carousel


/*-----------LOGIN---------*/
.login {
    background: #3a4149;
    background-image: url(/assets/img-login.jpg);
    background-size: cover;
    margin: 100px 0;
    padding: 50px 5px;
    
    .flex-container-login {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 500px;
        padding: 15px 0;
        border: 1px solid rgba(255, 255, 255, 0.144);
        border-radius: 15px;
        color: #fff;
        backdrop-filter: blur(8px);;

        .title {
            align-self: center;

            h3 {

                span {
                    margin: 15px;
                }
            }
        }

        .container-input {
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            label {
                padding: 15px;
                
                input {
                    display: block;
                    height: 40px;
                    width: 100%;
                    margin-top: 5px;
                    background: rgba(250, 250, 250, .1);
                    border-radius: 25px;
                    border: none;
                    border: 1px solid #e7ba52;
                    padding-left: 15px;
                }
            }

        
            .container-terms {
                display: flex;
                justify-content: center;
                
                input {
                    width: auto;
                    align-self: center;
                }
                p {
                    align-self: center;
                    margin: 0 5px;
                }
            }
        }
            
        .container-buttons {
            align-self: center;

            width: 100%;
            display: flex;
            justify-content: space-evenly;

            button {
                @include btn;
            }
        }
    }
}



/*-----------HAPPY CUSTOMERS---------*/
.customers {
    margin: auto;

    .flex-container-customers {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    
        .col-3 {

            flex-basis: 30%;
            min-width: 250px;
            max-height: 400px;
            padding: 40px 20px;
            margin: 10px;
            text-align: center;
            cursor: pointer;
            background: rgb(240, 240, 240);
            border-radius: 15px;
            box-shadow: 3px 3px 5px rgba(13, 39, 80, .16), -3px -3px 5px #fff;
            transition: all .5s;
            &:hover {
                transform: translateY(-10px);
                background: rgb(245, 245, 245);
            }

            p {
                font-size: 12px;
                margin: 12px 0;
                color: #777;
            }
            img {
                width: 70px;
                margin-top: 20px;
                border-radius: 50%;
            }
            h3 {
                font-weight: 600;
                font-size: 16px;
                color: #444;
            }
            div i {
                color: rgb(150,188,129);
            }
        }
                
    }
}



/*-----------FOOTER---------*/
footer {
    background: #000;
    color: #fff;
    margin-top: 100px;

    .flex-container-footer {
        display: flex;
        flex-direction: column;

        .f-item {
            text-align: center;
            width: 50%;
            margin: 20px auto;

            h3 {
                font-size: 1em;
                margin: 8px 0;
            }
            p {
                font-size: .8em;
                color:#8a8a8a;
            }
            li {
                list-style-type: none;
                a {
                    color:#8a8a8a;
                    &:hover {
                        text-decoration: underline;
                        color: #fff;
                    }
                }
            }
        }
    }

    hr {
        border: none;
        background: #b5b5b5;
        height: 1px;
        margin: 20px 0;
    }

    .rights {
        text-align: center;
        padding-bottom: 20px;
        font-size: .8em;
        color:#8a8a8a;
    }
}

.mediaNoSuport {
    display: none;
}

@media (min-width: 541px) {
    body {
        overflow: hidden;
    }
    .mediaNoSuport {
        display: block;
        position: absolute;
        top: 0;
        z-index: 1000;
        height: 100vh;
        width: 100vw;
        text-align: center;
        background: #000;
        h2 {
            color: #fff;
        }
    }
}