/*-----------FONTs---------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*-----------RESETs---------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

/*-----------ANIMATION---------*/
.effect {
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@-webkit-keyframes showLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes showRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animatedLeft {
  -webkit-animation: showLeft 1s;
          animation: showLeft 1s;
}

.animatedRight {
  -webkit-animation: showRight 1s;
          animation: showRight 1s;
}

/*-----------MIXIN---------*/
/*-----------HEADER---------*/
header {
  background: #1e4b45;
  background: -webkit-gradient(linear, left top, right top, from(#1e4b45), color-stop(159%, #96bc81));
  background: linear-gradient(90deg, #1e4b45 0%, #96bc81 159%);
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header nav .logo {
  display: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

header nav .logo img {
  width: 62px;
}

header nav .list-container ul {
  position: absolute;
  top: 0;
  left: 0;
  height: 300px;
  width: 100%;
  padding-top: 80px;
  text-align: left;
  overflow: hidden;
  background: rgba(51, 51, 51, 0.97);
  -webkit-transition: max-width .5s;
  transition: max-width .5s;
}

header nav .list-container ul li {
  margin: 10px 10px;
  list-style-type: none;
}

header nav .list-container ul li a {
  color: #fff;
}

header nav .buy-container {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
}

header nav .buy-container img {
  width: 62px;
}

header nav .menu-icon {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  position: relative;
  z-index: 10;
  width: 30px;
}

header .grid-container-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(280px, 540px);
      grid-template-columns: minmax(280px, 540px);
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
}

header .grid-container-header .content-header-a {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

header .grid-container-header .content-header-a h1 {
  text-align: end;
  margin: 28px 28px 0;
  font-size: 46px;
  line-height: 60px;
  color: #fff;
}

header .grid-container-header .content-header-a p {
  text-align: end;
  margin: 0 35px 28px;
  color: #fff;
}

header .grid-container-header .content-header-a .btn {
  display: inline-block;
  background: none;
  color: #fff;
  padding: 8px 30px;
  border: 2.5px solid #e7ba52;
  border-radius: 25px;
  -webkit-transition: background .5s;
  transition: background .5s;
  margin: 20px;
}

header .grid-container-header .content-header-a .btn:hover {
  background: #e7ba52;
}

header .grid-container-header .content-header-b {
  -ms-grid-row: 1;
  grid-row: 1;
}

header .grid-container-header .content-header-b img {
  width: 100%;
}

/*-----------GALLERY---------*/
.flex-container-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container-gallery .img-gallery {
  width: 60%;
  margin-top: 50px;
}

.flex-container-gallery .img-gallery img {
  width: 100%;
}

/*-----------PRODUCT---------*/
.product h2 {
  margin: 80px 10px 20px;
  border-bottom: 1px solid #96bc81;
}

.product .grid-container-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  gap: 10px;
  padding: 10px;
}

.product .grid-container-product .item-product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  opacity: 0;
  border-radius: 18px;
  background: #f0f0f0;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.product .grid-container-product .item-product:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: whitesmoke;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff;
}

.product .grid-container-product .item-product img {
  position: relative;
  z-index: 10;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 85%;
}

.product .grid-container-product .item-product h4 {
  position: relative;
  z-index: 10;
  margin: 8px 10px 0;
  color: #555;
  font-weight: normal;
}

.product .grid-container-product .item-product p {
  position: relative;
  z-index: 10;
  margin: 0 10px 10px;
  color: #f75e05;
  font-size: 14px;
  font-weight: 400;
}

.product .grid-container-product .item-product .base-container {
  position: absolute;
  z-index: 0;
  bottom: -40px;
  -webkit-transform: rotateZ(-25deg);
          transform: rotateZ(-25deg);
  width: 350px;
  height: 180px;
  opacity: .4;
  border: 1px solid #ffffff;
  background-color: #d3d3d3;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
}

.product .grid-container-product .item-product .like {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  justify-items: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
}

.product .grid-container-product .item-product .like:hover {
  cursor: pointer;
}

.product .grid-container-product .item-product .like i {
  position: absolute;
  top: 4px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: .3;
}

.product .grid-container-product .item-product .like .bi-heart-fill {
  color: #a10707;
  opacity: 1;
}

.product .grid-container-product .item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
}

.product .grid-container-product .item2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.product .grid-container-product .item3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / 8;
}

.product .grid-container-product .item4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
}

.product .grid-container-product .item5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8 / 10;
}

.product .grid-container-product .item6 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
}

.product .grid-container-product .item7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 10;
  -ms-grid-row-span: 2;
  grid-row: 10 / 12;
}

.product .grid-container-product .item8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  grid-row: 9 / 12;
}

/*-----------CAROUSEL---------*/
.carousel {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
}

.carousel #arrows-wrapper {
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 100%;
  padding: 20px;
}

.carousel #arrows-wrapper p {
  color: #fff;
  cursor: pointer;
  font-size: 10vw;
}

.carousel #arrows-wrapper #arrow-prev {
  position: relative;
  z-index: 1000;
}

.carousel #arrows-wrapper #arrow-next {
  position: relative;
  z-index: 1000;
}

.carousel .flex-container-carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 300vw;
  margin-bottom: 50px;
  -webkit-transition: left .5s;
  transition: left .5s;
}

.carousel .flex-container-carousel .article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  border-top: black 1px solid;
}

.carousel .flex-container-carousel .article-container img {
  position: relative;
  z-index: -1;
  width: 100vw;
}

.carousel .flex-container-carousel .article-container .carousel-caption {
  background: #065a31;
  background: linear-gradient(20deg, #1e4b45 0%, #96bc81 199%);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 209px;
  padding: 30px;
  text-align: center;
}

.carousel .flex-container-carousel .article-container .carousel-caption h5 {
  color: #fff;
  font-size: 9vw;
}

.carousel .flex-container-carousel .article-container .carousel-caption p {
  color: #fff;
  margin: auto;
  width: 80vw;
}

.carousel .flex-container-carousel .article-container .carousel-caption .btn {
  display: inline-block;
  background: none;
  color: #fff;
  padding: 8px 30px;
  border: 2.5px solid #e7ba52;
  border-radius: 25px;
  -webkit-transition: background .5s;
  transition: background .5s;
  margin-top: 10px;
}

.carousel .flex-container-carousel .article-container .carousel-caption .btn:hover {
  background: #e7ba52;
}

/*-----------HAPPY CUSTOMERS---------*/
.customers {
  margin: auto;
}

.customers .flex-container-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.customers .flex-container-customers .col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 250px;
  max-height: 400px;
  padding: 40px 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.customers .flex-container-customers .col-3:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background: whitesmoke;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff;
}

.customers .flex-container-customers .col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.customers .flex-container-customers .col-3 img {
  width: 70px;
  margin-top: 20px;
  border-radius: 50%;
}

.customers .flex-container-customers .col-3 h3 {
  font-weight: 600;
  font-size: 16px;
  color: #444;
}

.customers .flex-container-customers .col-3 div i {
  color: #96bc81;
}
/*# sourceMappingURL=style.css.map */