/*-----------FONTs---------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


/*-----------RESETs---------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
}


/*-----------MIXIN---------*/
@mixin btn {
    display: inline-block;
    background: none;
    color: #fff;
    padding: 8px 30px;
    border: 2.5px solid #e7ba52;
    border-radius: 25px;
    transition: background .5s;
    &:hover{
        background: #e7ba52;
    } 
}


/*-----------HEADER---------*/
header {
    background: rgb(30,75,69);
    background: linear-gradient(90deg, rgba(30,75,69,1) 0%, rgba(115,155,112,1) 59%, rgba(150,188,129,1) 79%);

    nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 80px;
        justify-items: center;
        align-items: center;
        
        width: 100%;

        .logo {
            display: none;

            grid-column: 2 / 4;

            img {
                width: 62px;
            }
        }

        .list-container {

            ul {
                position: absolute;
                top: 0;
                left: 0;
                height: 300px;
                width: 100%;
                padding-top: 80px;
                text-align: left;
                overflow: hidden;
                background: #333;
                transition: max-width .5s;

                li {
                    margin: 10px 10px;
                    list-style-type: none;

                    a {
                        color: #fff;
                    }
                }
            }
        }

        .buy-container {
            grid-row: 1;
            grid-column: 4 / 5;

            img {
                width: 62px;
            }
        }

        .menu-icon {
            grid-row: 1;
            grid-column: 1 / 2;
            position: relative;
            z-index: 10;
            width: 30px;
        }
    }

    .grid-container-header {
        display: grid;
        grid-template-columns: minmax(280px, 540px);
        grid-template-rows: 2fr;

        .content-header-a {
            grid-row: 2;

            h1 {
                font-size: 46px;
                line-height: 60px;
                margin: 28px;
                color: #fff;
            }
            p {
                margin: 20px 35px 0;
                color: #fff;
            }
            .btn {
                @include btn;
                margin: 20px;
            }
        }
        .content-header-b {
            grid-row: 1;

            img {
                width: 100%;
            }
        }
    }


} // Header