/*-----------FONTs---------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*-----------RESETs---------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

/*-----------ANIMATION---------*/
.effect {
  opacity: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@-webkit-keyframes showLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showLeft {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animatedLeft {
  -webkit-animation: showLeft 1s;
          animation: showLeft 1s;
}

@-webkit-keyframes showRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes showRight {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animatedRight {
  -webkit-animation: showRight 1s;
          animation: showRight 1s;
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(180px);
            transform: translateX(180px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(180px);
            transform: translateX(180px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animated-moveRight {
  -webkit-animation: moveRight 1s;
          animation: moveRight 1s;
}

@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-180px);
            transform: translateX(-180px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-180px);
            transform: translateX(-180px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.animated-moveLeft {
  -webkit-animation: moveLeft 1s;
          animation: moveLeft 1s;
}

@-webkit-keyframes likeHeart {
  0% {
    opacity: .6;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes likeHeart {
  0% {
    opacity: .6;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.animated-likeHeart {
  -webkit-animation: likeHeart 1s forwards;
          animation: likeHeart 1s forwards;
}

@-webkit-keyframes dontLikeHeart {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes dontLikeHeart {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

.animated-dontLikeHeart {
  -webkit-animation: dontLikeHeart 1s forwards;
          animation: dontLikeHeart 1s forwards;
}

/*-----------MIXIN---------*/
/*-----------HEADER---------*/
header {
  background: #1e4b45;
  background: -webkit-gradient(linear, left top, right top, from(#1e4b45), color-stop(159%, #96bc81));
  background: linear-gradient(90deg, #1e4b45 0%, #96bc81 159%);
  overflow-x: hidden;
}

header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 80px;
      grid-template-rows: 80px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header nav .logo {
  display: none;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
}

header nav .logo img {
  width: 62px;
}

header nav .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  height: 150vw;
  width: 100%;
  padding-top: 80px;
  text-align: left;
  overflow: hidden;
  background: rgba(51, 51, 51, 0.97);
  -webkit-transition: max-width .5s;
  transition: max-width .5s;
}

header nav .list-container ul {
  position: relative;
  z-index: 1000;
}

header nav .list-container ul li {
  margin: 20px 20px;
  list-style-type: none;
}

header nav .list-container ul li a {
  color: #fff;
}

header nav .list-container .icons-container {
  position: relative;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px;
}

header nav .list-container .icons-container .icons {
  margin: 8px;
  width: 30px;
  fill: #fff;
}

header nav .buy-container {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  position: relative;
  z-index: 100;
  top: 8px;
}

header nav .buy-container img {
  width: 55px;
}

header nav .menu-icon {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  position: relative;
  z-index: 10;
  width: 50px;
}

header nav .menu-icon .svg-menu-toggle {
  fill: #fff;
  pointer-events: all;
  cursor: pointer;
  position: relative;
  z-index: 100;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .5s;
  transition: .5s;
}

header nav .menu-icon .bar {
  -webkit-transition: -webkit-transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: opacity 0.2s ease-in-out, -webkit-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out;
  transition: transform 0.4s ease-in-out, opacity 0.2s ease-in-out, -webkit-transform 0.4s ease-in-out;
}

header nav .menu-icon .bar:nth-of-type(1) {
  -webkit-transform-origin: 20px 10px;
  transform-origin: 20px 10px;
}

header nav .menu-icon .bar:nth-of-type(3) {
  -webkit-transform-origin: 20px 20px;
  transform-origin: 20px 20px;
}

header .grid-container-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(280px, 540px);
      grid-template-columns: minmax(280px, 540px);
  -ms-grid-rows: 2fr;
      grid-template-rows: 2fr;
}

header .grid-container-header .content-header-a {
  -ms-grid-row: 2;
  grid-row: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

header .grid-container-header .content-header-a h1 {
  text-align: end;
  margin: 28px 28px 0;
  font-size: 46px;
  line-height: 60px;
  color: #fff;
}

header .grid-container-header .content-header-a p {
  text-align: end;
  margin: 0 35px 28px;
  color: #fff;
}

header .grid-container-header .content-header-a .btn {
  display: inline-block;
  background: #e7ba52;
  color: #fff;
  padding: 8px 30px;
  border: 2.5px solid #e7ba52;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
  margin: 20px;
}

header .grid-container-header .content-header-a .btn:hover {
  background: none;
}

header .grid-container-header .content-header-b {
  -ms-grid-row: 1;
  grid-row: 1;
}

header .grid-container-header .content-header-b img {
  position: relative;
  z-index: 100;
  width: 100%;
  -webkit-transition: all .8s;
  transition: all .8s;
}

/*-----------GALLERY---------*/
.flex-container-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-container-gallery .img-gallery {
  width: 60%;
  margin-top: 50px;
}

.flex-container-gallery .img-gallery img {
  width: 100%;
}

/*-----------PRODUCT---------*/
.product {
  width: 100vw;
  overflow-x: hidden;
}

.product .flex-container-option {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 150px;
  margin: auto;
}

.product .flex-container-option .shop-option {
  width: 190px;
  height: 50px;
  top: 0;
  margin: 80px 5px 20px;
  border-radius: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.product .flex-container-option .shop-option h3 {
  text-align: center;
  margin: 8px auto;
  color: #fff;
}

.product .flex-container-option .option1 {
  position: absolute;
  z-index: 100;
  left: 15px;
  background-color: #50b650;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.product .flex-container-option .option2 {
  position: relative;
  z-index: 50;
  background-color: #347c34;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.product .flex-container-option .option3 {
  position: absolute;
  z-index: 0;
  right: 15px;
  background-color: #265726;
}

.product .flex-container-product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300vw;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.product .flex-container-product .grid-container-product {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[12];
      grid-template-rows: repeat(12, 1fr);
  gap: 10px;
  width: 100vw;
  padding: 10px;
  overflow-x: hidden;
}

.product .flex-container-product .grid-container-product .item-product {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  border-radius: 18px;
  background: #f0f0f0;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.product .flex-container-product .grid-container-product .item-product:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background: whitesmoke;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff;
}

.product .flex-container-product .grid-container-product .item-product img {
  position: relative;
  z-index: 10;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 85%;
}

.product .flex-container-product .grid-container-product .item-product h4 {
  position: relative;
  z-index: 10;
  margin: 8px 10px 0;
  color: #555;
  font-weight: normal;
}

.product .flex-container-product .grid-container-product .item-product p {
  position: relative;
  z-index: 10;
  margin: 0 10px 10px;
  color: #f75e05;
  font-size: 14px;
  font-weight: 400;
}

.product .flex-container-product .grid-container-product .item-product .base-container {
  position: absolute;
  z-index: 0;
  bottom: -40px;
  -webkit-transform: rotateZ(-25deg);
          transform: rotateZ(-25deg);
  width: 350px;
  height: 180px;
  opacity: .4;
  border: 1px solid #ffffff;
  background-color: #d3d3d3;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
}

.product .flex-container-product .grid-container-product .item-product .like {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  justify-items: flex-start;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff, inset 3px 3px 5px rgba(13, 39, 80, 0.16), inset -3px -3px 5px #fff;
}

.product .flex-container-product .grid-container-product .item-product .like:hover {
  cursor: pointer;
}

.product .flex-container-product .grid-container-product .item-product .like i {
  position: absolute;
  top: 4px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: .3;
}

.product .flex-container-product .grid-container-product .item-product .like .bi-heart-fill {
  color: #a10707;
}

.product .flex-container-product .grid-container-product .item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
}

.product .flex-container-product .grid-container-product .item2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.product .flex-container-product .grid-container-product .item3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / 8;
}

.product .flex-container-product .grid-container-product .item4 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  grid-row: 3 / 6;
}

.product .flex-container-product .grid-container-product .item5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8 / 10;
}

.product .flex-container-product .grid-container-product .item6 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 3;
  grid-row: 6 / 9;
}

.product .flex-container-product .grid-container-product .item7 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 10;
  -ms-grid-row-span: 2;
  grid-row: 10 / 12;
}

.product .flex-container-product .grid-container-product .item8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  grid-row: 9 / 12;
}

/*-----------CAROUSEL---------*/
.carousel {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 200px;
}

.carousel #arrows-wrapper {
  -ms-flex-item-align: center;
      align-self: center;
  position: absolute;
  top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: 100%;
  padding: 20px;
}

.carousel #arrows-wrapper p {
  color: #fff;
  cursor: pointer;
  font-size: 10vw;
  opacity: .3;
}

.carousel #arrows-wrapper #arrow-prev {
  position: relative;
  z-index: 1000;
}

.carousel #arrows-wrapper #arrow-next {
  position: relative;
  z-index: 1000;
}

.carousel .flex-container-carousel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 300vw;
  margin-bottom: 50px;
  -webkit-transition: left .5s;
  transition: left .5s;
}

.carousel .flex-container-carousel .article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

.carousel .flex-container-carousel .article-container img {
  position: relative;
  z-index: -1;
  width: 100vw;
}

.carousel .flex-container-carousel .article-container .carousel-caption {
  background: #065a31;
  background: linear-gradient(20deg, #1e4b45 0%, #96bc81 199%);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 209px;
  padding: 30px;
  text-align: center;
}

.carousel .flex-container-carousel .article-container .carousel-caption h5 {
  color: #fff;
  font-size: 9vw;
}

.carousel .flex-container-carousel .article-container .carousel-caption p {
  color: #fff;
  margin: auto;
  width: 80vw;
}

.carousel .flex-container-carousel .article-container .carousel-caption .btn {
  display: inline-block;
  background: #e7ba52;
  color: #fff;
  padding: 8px 30px;
  border: 2.5px solid #e7ba52;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
  margin-top: 10px;
}

.carousel .flex-container-carousel .article-container .carousel-caption .btn:hover {
  background: none;
}

/*-----------LOGIN---------*/
.login {
  background: #3a4149;
  background-image: url(/assets/img-login.jpg);
  background-size: cover;
  margin: 100px 0;
  padding: 50px 5px;
}

.login .flex-container-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 500px;
  padding: 15px 0;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-radius: 15px;
  color: #fff;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.login .flex-container-login .title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login .flex-container-login .title h3 span {
  margin: 15px;
}

.login .flex-container-login .container-input {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login .flex-container-login .container-input label {
  padding: 15px;
}

.login .flex-container-login .container-input label input {
  display: block;
  height: 40px;
  width: 100%;
  margin-top: 5px;
  background: rgba(250, 250, 250, 0.1);
  border-radius: 25px;
  border: none;
  border: 1px solid #e7ba52;
  padding-left: 15px;
}

.login .flex-container-login .container-input label input::-webkit-input-placeholder {
  color: #d3d3d3;
}

.login .flex-container-login .container-input label input:-ms-input-placeholder {
  color: #d3d3d3;
}

.login .flex-container-login .container-input label input::-ms-input-placeholder {
  color: #d3d3d3;
}

.login .flex-container-login .container-input label input::placeholder {
  color: #d3d3d3;
}

.login .flex-container-login .container-input .container-terms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login .flex-container-login .container-input .container-terms input {
  width: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login .flex-container-login .container-input .container-terms p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 5px;
}

.login .flex-container-login .container-buttons {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.login .flex-container-login .container-buttons button {
  display: inline-block;
  background: #e7ba52;
  color: #fff;
  padding: 8px 30px;
  border: 2.5px solid #e7ba52;
  border-radius: 25px;
  cursor: pointer;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.login .flex-container-login .container-buttons button:hover {
  background: none;
}

/*-----------HAPPY CUSTOMERS---------*/
.customers {
  margin: auto;
}

.customers .flex-container-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.customers .flex-container-customers .col-3 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  min-width: 250px;
  max-height: 400px;
  padding: 40px 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  background: #f0f0f0;
  border-radius: 15px;
  -webkit-box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff;
          box-shadow: 3px 3px 5px rgba(13, 39, 80, 0.16), -3px -3px 5px #fff;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.customers .flex-container-customers .col-3:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  background: whitesmoke;
}

.customers .flex-container-customers .col-3 p {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.customers .flex-container-customers .col-3 img {
  width: 70px;
  margin-top: 20px;
  border-radius: 50%;
}

.customers .flex-container-customers .col-3 h3 {
  font-weight: 600;
  font-size: 16px;
  color: #444;
}

.customers .flex-container-customers .col-3 div i {
  color: #96bc81;
}

/*-----------FOOTER---------*/
footer {
  background: #000;
  color: #fff;
  margin-top: 100px;
}

footer .flex-container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .flex-container-footer .f-item {
  text-align: center;
  width: 50%;
  margin: 20px auto;
}

footer .flex-container-footer .f-item h3 {
  font-size: 1em;
  margin: 8px 0;
}

footer .flex-container-footer .f-item p {
  font-size: .8em;
  color: #8a8a8a;
}

footer .flex-container-footer .f-item li {
  list-style-type: none;
}

footer .flex-container-footer .f-item li a {
  color: #8a8a8a;
}

footer .flex-container-footer .f-item li a:hover {
  text-decoration: underline;
  color: #fff;
}

footer hr {
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px 0;
}

footer .rights {
  text-align: center;
  padding-bottom: 20px;
  font-size: .8em;
  color: #8a8a8a;
}

.mediaNoSuport {
  display: none;
}

@media (min-width: 541px) {
  body {
    overflow: hidden;
  }
  .mediaNoSuport {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    text-align: center;
    background: #000;
  }
  .mediaNoSuport h2 {
    color: #fff;
  }
}
/*# sourceMappingURL=style.css.map */